@import './animate.styl'

body>nav
  animation-duration 0.3s
  animation-fill-mode both
  border-bottom 1px solid #eee
  display flex
  height 64px
  left 0
  position fixed
  right 0
  top 0
  z-index 1000

  &.D
    animation-name slideInDown

  &.N
    display none
    transform translate3d(0, -100%, 0)

  &.H
    animation-name slideOutUp

  & + b
    bottom 0
    left 0
    right 0
    top 65px
    transition all 0.3s

  &.H, &.N
    & + b
      top 0
