b.menu
  border-top 1px solid #ccc
  display flex
  flex-direction column
  position absolute
  right 0
  top 100%
  z-index 9

  &>a
    align-items center
    background #fff
    border 1px solid #ccc
    border-top 0
    box-sizing border-box
    color #666
    display flex
    justify-content center
    padding 8px 16px
    user-select none
    white-space nowrap
    width 100%

    &:hover
      background #f40
      border-color #f40
      color #fff
