b.menu
  border-top 1px solid #ccc
  display flex
  flex-direction column
  position absolute
  right 0
  top 100%
  z-index 9

  &>a
    background linear-gradient(to bottom, #f9f9f9, #fff 60%, #f2f2f2)
    border 1px solid #ccc
    border-top 0
    box-shadow #eee 0 0 3px inset
    box-sizing border-box
    color #666
    display flex
    justify-content center
    padding 8px 16px
    user-select none
    white-space nowrap
    width 100%

    &:hover
      background #f40
      border-color #f40
      box-shadow #333 0 0 3px inset
      color #fff !important

    &:active
      background linear-gradient(to bottom, #f40, #e30 60%, #f40)
      box-shadow #000 0 0 4px inset
      color #fff
