.toast
  align-items center
  animation-duration 0.5s
  background rgba(0, 0, 0, 0.7)
  border-radius 14px
  bottom 14px
  box-shadow 0 0 1px #85DA1A inset
  color #fff
  display flex
  font-size 14px
  font-weight bold
  left 14px
  line-height 1.4
  overflow visible !important
  padding 7px 14px
  position fixed
  text-align center
  transition 0.5s all
  z-index 99999

  &.ERR
    background rgba(255, 0, 0, 0.7)
    border 1px solid rgba(255, 255, 255, 0.2)
    box-shadow 0 0 3px #f00 inset
    color #fff
    font-weight normal

    &>.x
      background-image var(--svg-x)
      filter invert(42%) sepia(1) saturate(15)

      &:hover
        filter invert(10%) sepia(1) saturate(47)

  &>.x
    background var(--svg-x) 0 0 / cover no-repeat
    cursor pointer
    display block
    height 18px
    margin-left 0.5em
    position absolute
    right -26px
    user-select none
    width 18px

    &:hover
      filter invert(42%) sepia(1) saturate(47)

  &>div
    max-height 600px
    max-width 600px
    overflow hidden
    text-overflow ellipsis
