b
  display block
  font-family h, sans-serif
  font-variation-settings 'wght' 400, 'BEVL' 30
  user-select none

a
  color #666
  display inline-block
  line-height 1.8
  margin 3px 0
  position relative

  &:hover
    color #00f
    text-shadow #006 1px 0 0

b, a
  font-size 14px

li
  list-style none
  margin 0 0 0 14px

i
  font-style normal
